rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Auth utility functions
    function isAdmin() {
      return request.auth.token.admin == true
    }

    // Enable admin to perform collectionGroup queries on comment requests
    match /{path=**}/commentRequests/{doc} {
      allow read: if isAdmin();
    }

    match /blog/{document} {
        match /commentRequests/{document} {
            allow create:
                if request.resource.data.keys().hasOnly(['author', 'message', 'userId', 'path', 'title', 'createdAt'])
                && request.resource.data.author is string
                && request.resource.data.message is string
                && request.resource.data.userId is string
                && request.resource.data.path is string
                && request.resource.data.title is string
                && request.resource.data.createdAt is timestamp
            allow delete: if isAdmin()
        }
        match /comments/{document} {
            allow read: if true
            allow create:
                if request.resource.data.keys().hasOnly(['author', 'message', 'userId', 'path', 'createdAt'])
                && isAdmin()
                && request.resource.data.author is string
                && request.resource.data.message is string
                && request.resource.data.userId is string
                && request.resource.data.path is string
                && request.resource.data.createdAt is timestamp
            allow delete: if isAdmin()
        }
    }
  }
}